<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuizList</title>
</head>
<body>
<h2>Quiz List</h2>
<br>
<a th:href="@{/}">Back</a>
<br/>
<table border="1">
    <tr>
        <th>№</th>
        <th>Title</th>
        <th>Size</th>
        <th>Time to finish (minutes)</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="quiz,state : ${quizList}">
        <td th:text="${state.index+1}">INDEX</td>
        <td><a th:href="'/quiz/'+${quiz.id}" th:text="${quiz.title}">TITLE</a></td>
        <td th:text="${quiz.size}">SIZE</td>
        <td th:text="${quiz.timerTime}">TIME</td>
        <td ><a th:href="'/quiz/edit/'+${quiz.id}">Edit</a> </td>
        <td ><a th:href="'/quiz/delete/'+${quiz.id}">Delete</a> </td>
    </tr>
    <tr>
        <td th:colspan="6"><a href="/quiz/add"> Add Quiz</a></td>
    </tr>
</table>
</body>
</html>