<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<a th:href="@{/quiz/}">Back</a>
<br/>


<h2 th:text="${quiz.title}">TITLE</h2>
<div th:text="'Size:'+${quiz.size}">SIZE</div>
<div th:text="'Id: '+${quiz.id}">ID</div>
<br/>

<table border="1">
    <tr>
        <th>№</th>
        <th>Text</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <tr th:if="${quiz.questions.size()>0}" th:each="question,state : ${quiz.questions}">
        <td th:text="${state.index+1}"></td>
        <td th:text="${question.questionText}">TEXT</td>
        <td><a th:href="@{'~/question/edit/'+${question.id}}">Edit</a></td>
        <td><a th:href="@{'~/question/delete/'+${question.id}}">Delete</a></td>
    </tr>
    <tr>
        <td colspan="4"><a th:href="@{'~/question/add/' + ${quiz.id}}">Add question</a></td>
    </tr>

</table>
</body>
</html>