<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${quiz.id!=0}">Edit Page</title>
    <title th:if="${quiz.id==0}">Add Page</title>
</head>
<body>

<form method="post" th:action="@{/quiz/save}" th:object="${quiz}">

    <input type="hidden" th:if="${quiz.id!=0}" th:field="*{id}">
    <label for="title">Title:</label>
    <input id="title" type="text" th:field="*{title}">
    <br/>
    <br/>
    <input type="submit" value="Save">
</form>


</body>
</html>