<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuizList</title>
</head>
<body>
<h2>Quiz List</h2>
<br>
<a th:href="@{/}">Back</a>
<br/>
<table border="1">
    <tr>
        <th>№</th>
        <th>Nickname</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user,state : ${userList}">
        <td th:text="${state.index+1}">INDEX</td>
        <td><a th:href="@{'/user/rating/'+${user.id}}" th:text="${user.nickname}"> >NICKNAME</a></td>
        <td th:text="${user.password}">PASSWORD</td>
        <td><a th:href="@{'/user/edit/'+${user.id}}">Edit</a></td>
        <td><a th:href="@{'/user/delete/'+${user.id}}">Delete</a></td>
    </tr>
    <tr>
        <td th:colspan="6"><a href="/user/add"> Add User</a></td>
    </tr>
</table>
</body>
</html>